/* CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: #333333dd;

}

a{
    color:rgb(5, 121, 128);
}


body, html {
    border: 0;
    background-color: azure;
    font-family: 'Roboto';
}
/*  rgb(254, 241, 245) */

p {
margin-bottom: 20px;
}
 
/* Navigation Bar */ 
.top-nav{
    display: block;
    position: fixed;
    opacity: 60%;
    width: 100%;
    background: azure;
    padding: 10px 12px;
}

.top-nav  a{
    color: rgb(5, 121, 128);
    padding:10px 12px;
    text-decoration: none;
}

.top-nav a:hover {
    background: rgb(5, 121, 128);
    color: azure;
}

/* Rows and Columns */
.column-third{
    float: left;
    width: auto;
    min-width: 25%;
    max-width: 50%;
    padding: 40px 20px;
    word-wrap: break-word;
   
    color:#333333dd;

}

.row:after{
    content: "";
    display: table;
    clear: both;
    background-color: azure;
    color:#333333dd;
}

.border-box{
    padding:5px 10px;
    border-radius: 10px;
    background-color: azure;
}


/* Footer */

.footer{
    display:block;
    background: azure;
    padding: 10px 12px;
}

.footer a{
    color: rgb(5, 121, 128);
    padding:10px 12px;
    text-decoration: none;
}



h1 {
    text-align: center;
    width: auto;
}

.content{
    width: 100%;
}

.img-text{
    color:azure;
    text-align: center;
    padding: 40px 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px ;
}

.column-text{
    line-height: 1.5;
    color:#333333dd;
    word-wrap: break-word;
    float: center;
}

.body-text{
    float: center;
    text-align: center;
    line-height: 1.5;
    padding: 10px 10%;
    color: #333333dd;
    min-width: 50%;
    width: 100%;
}

/* Homepage image */

.img-top .img-par-sunrise{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.img-par-sunrise{
    Background-image:url('StarfishPhotos/StarfishSUNRISE.JPG');
}

.img-top{
background-image: url('HomepagePhotos/Balcony.jpg');
min-height: 800px;
}

.img-waterfall{
    background-image: url('HomepagePhotos/Waterfall.JPG');
    max-height: 400px;
    max-width: 400px;
}


/*New photo*/
.img-sd{
    background-image: url('SandDollarPhotos/Sand_DollarPorch2.JPG');
    min-height: 600px;
    min-width: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-str{
    background-image: url('StarfishPhotos/StarfishNight.JPG');
    min-height:600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Scrolling Gallery  */

.item {
    scroll-snap-align: center;
    max-width: 400px;
    max-height: 400px;
}

.item-list{
    max-width: 80%;
    width: 70vw;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
} 


.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
  }
  
  .carousel-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 44px;
    transition: all 0.25s ease-in;
  }
  
  .carousel-view .item-list {
    max-width: 800px;
    width: 70vw;
    padding: 50px 10px;
    display: flex;
    gap: 48px;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: auto;
    scroll-snap-type: x mandatory;
  }


  /*Gallery*/


  div.gallery{
    border: 1px azure;
    box-sizing: border-box;
  }

  div.gallery:hover{
    border:10px rgb(5, 121, 128);
  }

  div.gallery img{
   width: 100%;
   height: auto;
  }

  .responsive {
    padding: 0 3px;
  }

  .grid-display{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 700px){
    .img-sd .img-str .img-top{
     width: 100% !important;
     height: auto;
     background-size:cover;
    }

    .img-top{
        min-height: 600px;
    }

    .img-text{
        font-size: 36px;
    }

    .grid-display{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
    
    .column-third{
        min-width: 100%;
        width: 100%;
        align-items: center;
        text-align: center;
        float: center;
        margin: 0 auto;
    }
    .responsive {
        margin: 2px 0;
      }

    ul{
        display: inline-block;
        text-align: left;
    }

    .row{
        align-items: center;
        float: center;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
   
    .responsive {
      width: 100%;
    }

    div.gallery img{
        max-height: 100%;
        scale: 100%;
    }

    .grid-display{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
    
      
  }
